########################################
## <summary>
##  Execute $1 in the container_process4 domain.
## </summary>
## <param name="domain">
##  <summary>
##   Domain allowed access.
##  </summary>
## </param>
#
interface(`container_process4_domstrans',`
	gen_require(`
		type container_process4_t, container_process4_exec_t;
	')
	
	corecmd_search_bin($1)
	domtrans_pattern($1, container_process4_exec_t, container_process4_t)
')
#
########################################
## <summary>
##  Execute container_process4 in the container_process4 domain.
## </summary>
## <param name="domain">
##  <summary>
##   Allow role within domain.
##  </summary>
## </param>
#
interface(`container_process4_run',`
	gen_require(`
		type container_process4_t;
		attribute_role container_process4_roles;
	')
	
	container_process4_domtrans($1)
	roleattribute $2 container_process4_roles;
')
