policy_module(container_process4, 1.0)

########################################
#
# Declarations
#

attribute_role container_process4_roles;
roleattribute system_r container_process4_roles;

gen_require(`
	type container_t;
')

allow container_process4_t container_t:dir { getattr ioctl read search };
allow container_process4_t container_t:file { getattr ioctl read };

type container_process4_t;
type container_process4_etc_t;
type container_process4_exec_t;
type container_process4_data_t;
type container_process4_var_run_t;
role container_process4_roles types container_process4_t;

#
files_type(container_process4_t)
files_type(container_process4_data_t)
files_type(container_process4_etc_t)

files_pid_file(container_process4_t)

files_search_pids(container_process4_t)
files_pid_filetrans(container_process4_t, container_process4_var_run_t, file)

allow container_process4_t container_process4_var_run_t:file manage_file_perms;

########################################
#
# container local policy
#

# Allow domain transition
gen_require(`
	type unconfined_t;
	role unconfined_r;
')

role unconfined_r types container_process4_t;
application_domain(container_process4_t, container_process4_exec_t)
domain_auto_trans(unconfined_t, container_process4_exec_t, container_process4_t)


# Allow processes to manages their own files
allow container_process4_t self:fifo_file manage_fifo_file_perms;
allow container_process4_t container_process4_data_t:fifo_file manage_fifo_file_perms;
allow container_process4_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(container_process4_t, container_process4_data_t, container_process4_data_t)
manage_files_pattern(container_process4_t, container_process4_data_t, container_process4_data_t)
manage_lnk_files_pattern(container_process4_t, container_process4_data_t, container_process4_data_t)


#
domain_use_interactive_fds(container_process4_t)

files_read_etc_files(container_process4_t)
miscfiles_read_localization(container_process4_t)


# Interprocess communication permissions
container_network_access(container_process4_t)


#
dev_read_urand(container_process4_t)

kernel_read_kernel_sysctls(container_process4_t)
kernel_read_system_state(container_process4_t)

domain_use_interactive_fds(container_process4_t)

seutil_read_config(container_process4_t)

userdom_use_inherited_user_ptys(container_process4_t)

